@font-face {
  font-family: 'Veneer';
  src: url('https://institucional-statics-files.s3.amazonaws.com/Veneer_3.eot');
  src: url('https://institucional-statics-files.s3.amazonaws.com/Veneer_3.eot?#iefix') format('embedded-opentype'),
    url('https://institucional-statics-files.s3.amazonaws.com/Veneer_2.ttf') format('woff'),
    url('https://institucional-statics-files.s3.amazonaws.com/Veneer_2.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}